ion-toolbar {
  --background: linear-gradient(to bottom, #3867B4 0%, #0F94B4 100%);
  --color: #ddeaed;
}

ion-title {
  color: white;
}

.output {
  font-weight: bold;
}

.status {
  padding-left: 3px;
}