<ion-header>
  <ion-toolbar>
    <ion-title>Quản lý lịch hẹn </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card expand="block">

    <ion-card-content>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Bác sĩ hẹn: <ion-label class="output status">Trần Bên
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Thời gian hẹn:<ion-label class="output status">
          21/05/2019
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Họ tên người bệnh:<ion-label class="output status">Trần
          An
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Chuyên khoa:<ion-label class="output status">Tim Mạch
        </ion-label>
      </ion-item>


    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-content>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Bác sĩ hẹn:<ion-label class="output status"> Trần Bên
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Thời gian hẹn:<ion-label class="output status">
          21/05/2019
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Họ tên người bệnh:<ion-label class="output status">Trần
          An
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Chuyên khoa:<ion-label class="output status">Tim Mạch
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-content>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Bác sĩ hẹn:<ion-label class="output status">Trần Bên
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Thời gian hẹn:<ion-label class="output status">
          21/05/2019
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Họ tên người bệnh:<ion-label class="output status">Trần
          An
        </ion-label>
      </ion-item>
      <ion-item style="--inner-border-width: 0px 0px 0px 0px;"> Chuyên khoa:<ion-label class="output status">Tim Mạch
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>