<ion-card>
 
    <ion-item class="border0">
        <ion-icon style="color:#545559" name="contact" slot="start"></ion-icon>
        <h5> Thông tin người bệnh </h5>
        <img slot="end" src="../assets/img/bar-code.jpg">
      </ion-item>

    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Họ tên</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Mã người bệnh</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Ngày sinh</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">CMND/Passport</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Nghề nghiệp</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Quốc gia</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Dân tộc</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Số điện thoại</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Email</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item style="--inner-border-width:0px">
      <ion-label class="small" placeholder="Chưa cập nhật">Địa chỉ</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>

</ion-card>
<ion-card>
    <ion-item class="border0">
        <ion-icon style="color:#545559" name="contact" slot="start"></ion-icon>
        <h5> Thông tin người thân </h5>
      </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Họ tên</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Quan hệ</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Số điện thoại</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>
    <ion-item style="--inner-border-width:0px">
      <ion-label class="small" placeholder="Chưa cập nhật">Email</ion-label>
      <ion-input placeholder="Chưa cập nhật" readonly></ion-input>
    </ion-item>

  </ion-card>

