ion-item{
    --inner-border-width: 0px 0px 0.5px 0px;
    --border-color:rgb(240, 240, 240) ; 
}
.small{
    width: 45%;
}
ion-card{
    padding-top: 0px;
    --background: white
}
.border0{
    border: var(--background);
    --inner-boritem-warningder-width: 0px 0px 0px 0px;
    --inner-border-width: 0px 0px 0px 0px;
  }
  img{
      width: 30%;
      height: 80%;
  }