<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" icon="md-arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-label padding>Chọn khoa khám bệnh</ion-label>
  </ion-toolbar>
</ion-header>
<ion-item style="--inner-border-width:0px">
  <!-- Searchbar with telephone type -->
  <ion-searchbar type="tel"></ion-searchbar>
</ion-item>
<ion-content>
  <ion-list>
    <ion-item (click)="chonkhoa()">
      <ion-label>Chăm sóc da</ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Chăm sóc giảm nhẹ </ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Da liễu </ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Dị ứng miễn dịch lâm sàng </ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Khám và tư ván dinh dưỡng</ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Hoá trị </ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Hô hấp </ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Dị ứng miễn dịch lâm sàng</ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Hình ảnh học can thiệp </ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="chonkhoa()">
      <ion-label>Hậu môn học </ion-label>
      <ion-buttons slot="end">
        <ion-button style="--color:#adaeb2">
          <ion-icon class="md button  ion-activatable ion-focusable hydrated header" name="ios-arrow-forward">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>



</ion-content>