

.title{
    width: 100%;
     text-align: center;
    color: white;
}

.smallsize{
    font-size: smaller;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    
}
.small{
    padding-left: 5px
    
}


.active {
    display: block
}

.inactive {
    display: none;
}
h2 {
    cursor: pointer;
    position: relative;
    padding: 1em 0.35em;
    font-size: 1.35em;
    font-family: Verdana;
    border-bottom: 1px solid rgba(210,210,210,1);
    margin: 0;
    span {
        position: absolute;
        right: 1em;
        top: 1.2em;
        font-size: 0.95em;
    }
}
.header{
    --background: linear-gradient(#0F94B4,#3867B4);
    --color: white;
}
ion-card{
    margin: 0px 15px;
    background: white
}
ion-content{
    --background: rgb(230, 230, 230)
}
ion-item{
--inner-border-width: 0px 0px 0.5px 0px;
--border-color:rgb(240, 240, 240) ; 
}
