.border11{
    border: var(--background);
    --inner-border-width: 0px 0px 0px 0px;
  }
  .graycustom{
    --color:rgb(155, 120, 120)
  }
  .backgroundwhile{
    --background:#fff;
  }
  .floatright{
    float:right;
  }
  .padding2{
    padding: 5px;
  }
  .icongray{
    color: rgb(155, 120, 120);
  }
  .lbname{
    font: bolder;color:#6886ce;
  }
  .font{
    font-family:Segoe UI;

  }
img{
  width: 20px;
  height: 20px;
}
.iconBlue{
  --color:#6886ce;
}