.Register{
    height: 40%;
    width: 100%;
} 
.images1{
    margin: auto;
    height: 250px;
    width: 250px;
} 
ion-toolbar {
    --background: linear-gradient( to bottom, #3867B4 0%,#0F94B4 100%);
    --color:#ddeaed;
  }