<div class="QRcode">
  <ion-img expand="block" class="images" src="../assets/img/QRCode.jpg"></ion-img>
  <div padding style="padding-top: 5px; text-align: center">
    <ion-label class="label">
      Mã Phiếu: <ion-text style="font-weight: bold">060178910</ion-text>
    </ion-label>
    <br />
    <ion-label class="label"> 30/5/2019
    </ion-label>
  </div>
  <ion-label class="label2">
    <ion-text style="font-weight: bold"> FPT cơ sở 1</ion-text>
  </ion-label> <br />
  <ion-label class="label2">
    <ion-text style="font-weight: bold"> Trần Văn An</ion-text>
  </ion-label>
</div>
<ion-card>
  <ion-item>
    <ion-icon color="primary" class="sa" name="md-medkit"></ion-icon>
    <ion-label>khám mắt</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon color="primary" class="sa" name="md-clipboard"></ion-icon>
    <ion-label>P:001</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon color="primary" class="sa" name="md-alarm"></ion-icon>
    <ion-label>08:00-9:00</ion-label>

    <ion-icon color="primary" class="sa" name="md-calendar"></ion-icon>
    <ion-label>15/5/2019</ion-label>
</ion-item>
</ion-card>
<ion-card style="margin-top: -15px;">
    <ion-item>
      <ion-icon color="primary" class="sa" name="md-medkit"></ion-icon>
      <ion-label>khám mắt</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon color="primary" class="sa" name="md-clipboard"></ion-icon>
      <ion-label>P:001</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon color="primary" class="sa" name="md-alarm"></ion-icon>
      <ion-label>08:00-9:00</ion-label>
  
      <ion-icon color="primary" class="sa" name="md-calendar"></ion-icon>
      <ion-label>15/5/2019</ion-label>
  </ion-item>
  </ion-card>
