<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="start" >
          <ion-back-button style="--color: white" text="" icon="md-arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-label style="padding-left: 5px">Xác nhận thông tin</ion-label>
      </ion-toolbar>
</ion-header>
<ion-content>

 <ion-card>
    <ion-item class="border0">
        <ion-icon style="color:#545559" name="contact" slot="start"></ion-icon>
        <h5> Thông tin người bệnh </h5>
      </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Họ tên:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Mã số bệnh nhân:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Ngày sinh:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">CMND/Passport:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Nghề nghiệp:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Quốc gia:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Dân tộc:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Số điện thoại:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder=" Chưa cập nhật">Email:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Địa chỉ:</ion-label>
    </ion-item>
  

</ion-card>
<ion-card>  
    <ion-item class="border0">
        <ion-icon style="color:#545559" name="contact" slot="start"></ion-icon>
        <h5> Thông tin người thân </h5>
      </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Họ tên:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Quan hệ:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Số điện thoại:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="small" placeholder="Chưa cập nhật">Email:</ion-label>
    </ion-item>

  </ion-card>
</ion-content>
<div padding >
  <ion-button (click)="xacnhan()" expand="block">Xác nhận</ion-button>
</div>