ion-toolbar {
    --background: linear-gradient( to bottom, #3867B4 0%,#0F94B4 100%);
    color:white;
  }
  ion-title{
    color:white;
  }
  ion-item{
    padding-right: 15px;
    --inner-border-width: 0px 0px 0.5px 0px;
    --border-color:rgb(240, 240, 240) ; 
}
// ion-toggle{
//   height: 70%;
// }
